/* spacing on all sections */
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
    
/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/background.png');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    text-align: center;
    position:absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(22, 206, 206);
}

.image_about {
    width: 100%;
}

.navbarDark {
    background: #13cfcf;
}